body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    justify-content: end;
    display: flex;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 8px;
    position: left;
}

input[type="search"] {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

input[type="search"]:focus {
    outline: none;
    border: 2px solid #555;
}



header {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.musica {
    background-color: #a4a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.song {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.musica h2 {

    font-size: 12px;
}

.musica img {
    max-width: 300px;
    height: auto;
    display: inline;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.song img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

footer {
    height: 300px;
    width: 100%;;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}